*{
 margin: 0;
 padding: 0;  
}

header {
    background-color:#424e61;
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
       
}

.cabecalho-lista-imagen{
    display: inline-block;
    margin: 0% 16px ;
}